.social{
    padding-bottom: 60px;
}
.social-single{
    padding: 10px 0;
}
.social-single__link{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $gray-300;
    padding: 30px 20px;
    color: $gray-900;
}
.social-single__img{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-single img{
    max-height: 100%;
}
.social-single__text{
    font-size: 18px;
    padding-left: 20px;
}
@media screen and (max-width: 575px){
    .social-single{
        padding: 5px 0;
    }
    .social-single__link{
        padding: 20px 20px;

    }
    .social-single__img{
        height: 30px;

    }
}