section.carousel
    .container
        .carousel-wrapper
            .carousel-inner(id="homecarousel")


                .item
                    picture 
                        source(media="(max-width:575px)" width="575" height="540" srcset="/img/carousel/banner1-575.jpg" type="image/jpeg")
                        source(media="(max-width:991px)" width="991" height="540" srcset="/img/carousel/banner1-991.jpg" type="image/jpeg")
                        img(src="/img/carousel/banner1.jpg" width="1420" height="540" alt="#" title="#" loading="lazy")

                    a(href="/produkt-detail.html" aria-label="Popis slidu 2" )      

                .item
                    picture 

                        source(media="(max-width:575px)" width="575" height="540" srcset="/img/carousel/banner2-575.jpg" type="image/jpeg")
                        source(media="(max-width:991px)" width="991" height="540" srcset="/img/carousel/banner2-991.jpg" type="image/jpeg")
                        img(src="/img/carousel/banner2.jpg" width="1420" height="540" alt="#" title="#" loading="lazy")

                    a(href="/produkt-detail.html" aria-label="Popis slidu 1" )      


                .item
                    picture 

                        source(media="(max-width:575px)" width="575" height="540" srcset="/img/carousel/banner3-575.jpg" type="image/jpeg")
                        source(media="(max-width:991px)" width="991" height="540" srcset="/img/carousel/banner3-991.jpg" type="image/jpeg")
                        img(src="/img/carousel/banner3.jpg" width="1420" height="540" alt="#" title="#" loading="lazy")

                    a(href="/produkt-detail.html" aria-label="Popis slidu 3" )      

                .item
                    picture 

                        source(media="(max-width:575px)" width="575" height="540" srcset="/img/carousel/banner4-575.jpg" type="image/jpeg")
                        source(media="(max-width:991px)" width="991" height="540" srcset="/img/carousel/banner4-991.jpg" type="image/jpeg")
                        img(src="/img/carousel/banner4.jpg" width="1420" height="540" alt="#" title="#" loading="lazy")

                    a(href="/produkt-detail.html" aria-label="Popis slidu 4" )      



            button.prev(aria-label="Zpět")
                img(src="/img/icons/cheveron-white.svg" alt="Zpět" width="6" height="10")
            button.next(aria-label="Vpřed")
                img(src="/img/icons/cheveron-white.svg" alt="Vpřed" width="6" height="10")


