section.carousel
    .container
        .carousel-wrapper
            .carousel-inner
                .item
                    picture 
                        source(media="(max-width:575px)" width="575" height="540" srcset="/img/carousel/banner1-575.png")
                        source(media="(max-width:991px)" width="991" height="540" srcset="/img/carousel/banner1-991.png")
                        img(src="/img/carousel/banner1.png" width="1420" height="540" alt="#" title="#")
                    a(href="/produkt-detail.html" aria-label="Popis slidu 1")
                .item
                    picture 
                        source(media="(max-width:575px)" width="575" height="540" srcset="/img/carousel/banner1-575.png")
                        source(media="(max-width:991px)" width="991" height="540" srcset="/img/carousel/banner1-991.png")
                        img(src="/img/carousel/banner1.png" width="1420" height="540" alt="#" title="#")
                    a(href="/produkt-detail.html" aria-label="Popis slidu 2")                          
                .item
                    picture 
                        source(media="(max-width:575px)" width="575" height="540" srcset="/img/carousel/banner1-575.png")
                        source(media="(max-width:991px)" width="991" height="540" srcset="/img/carousel/banner1-991.png")
                        img(src="/img/carousel/banner1.png" width="1420" height="540" alt="#" title="#")
                    a(href="/produkt-detail.html" aria-label="Popis slidu 3")

            button.prev(aria-label="Zpět")
                img(src="/icons/cheveron-white.svg" alt="Zpět")
            button.next(aria-label="Vpřed")
                img(src="/icons/cheveron-white.svg" alt="Vpřed")


script.
    document.addEventListener('DOMContentLoaded', function() {

        const indexCarousel = new Siema({
            selector: '.carousel-inner',
            duration: 200,
            easing: 'ease-out',
            perPage: 1,
            startIndex: 0,
            draggable: true,
            multipleDrag: true,
            threshold: 20,
            loop: true,
            rtl: false,
            onInit: () => {},
            onChange: () => {lazyload();},
        });
        document.querySelector('.prev').addEventListener('click', () => indexCarousel.prev());
        document.querySelector('.next').addEventListener('click', () => indexCarousel.next());

    });
