section.contact 
    .container 
        .contact__content
            h1.contact__title Máte dotazy nebo potřebujete poradit s výběrem?
            .contact__wrap  
                .contact__item 
                    img(src="/icons/envelope.svg" alt="info@ozeo.cz") 
                    .contact__text info@ozeo.cz
                .contact__item 
                    img(src="/icons/phone-big.svg" alt="+420 123 456 789") 
                    .contact__text +420 123 456 789 #[small PO - PÁ 8:30 – 17:30]
