.filter(id="filter")
    .filter__button(id="filterToggle") Filtrovat produkty #[img(src="/icons/filter.svg")]
    .filter__content(id="filterContent")
        form.filter__form(action="post") 
            .filter__item 
            h4 Zvolit rozmezí ceny 
            h4 Podle štítku  
            button.btn.--fullWidth(name="filter-submit" id="filter-submit") Filtrovat #[img(src="/icons/cheveron-white.svg")]

script.
    document.getElementById('filterToggle').onclick = function() {
        document.getElementById('filter').classList.toggle('--active');
    }
