header
    .header-top
        .container 
            .header-top__tel 
                small Máte dotaz?
                img(src="/icons/phone.svg")
                span +420 605 337 238 
                small (po–pá 7:30–15:30)


    .header-main  
        .container 
            a.logo(href="/")
                img(src="/img/logo.svg")
            .search 
            .header-nav
                .user(id="toggleLogin")
                    img(src="/icons/user.svg")
                    div Přihlášení
                .cart.--active                
                    img(src="/icons/cart.svg")
                    div.cart-content
                        div.cart-title Nákupní košík
                        div.cart-price 2 599 Kč