header
    .header-top
        .container 
            .header-top__tel 
                small Máte dotaz?
                img(src="/icons/phone.svg" alt="+420 605 337")
                span +420 605 337 238 
                small (po–pá 7:30 – 14:30)
            .header-top__links
                a(href="/vse-o-nakupu.html") Vše o nákupu
                a(href="/vse-o-nakupu.html") Doprava
                a(href="/kontakty.html") Kontakty


    .header-main  
        .container 
            div(id="navToggle")
                span

            a.logo(href="/")
                img(src="/img/logo.svg" alt="ozeo.cz" title="ozeo.cz")

            .search 
                .search-wrapper     
                    form.search-form(method="post") 
                        input.search__input(type="text" id="autoComplete" autocomplete="off")
                        button.search__button
                            img(src="/icons/search.svg" alt="Vyhledávání")

            div(id="searchToggle")
                img(src="/icons/search.svg" alt="Vyhledávání")
                
            .header-nav
                .user(data-micromodal-trigger="modal-login")
                    .user__icon
                        img(src="/icons/user.svg" alt="Přihlášení")
                    div.user__title Přihlášení
                a.cart.--active(href="/kosik-1.html")
                    .cart__icon            
                        img(src="/icons/cart.svg" alt="Košík")
                        .cart__number 2
                    .cart-wrap
                        .cart-title Nákupní košík
                        .cart-price 2 599 Kč

#darkBackdrop