.modal.micromodal-slide(id="modal-delivery")

  .modal__overlay(tabindex="-1" data-micromodal-close)


    .modal__container(role="dialog" aria-labelledby="modal-delivery-title")


        .modal__content(id="modal-delivery-content")

            .modal__header

                h2.modal__title(id="modal-delivery-title") Balík na poštu

                button.modal__close(aria-label="Close modal" data-micromodal-close)


            

            iframe(src="/stranky/balik.php?doprava=30|90" width="100%" height="500")
            

script.
    document.addEventListener("DOMContentLoaded", () => {
        MicroModal.show('modal-delivery',{
            openClass: 'is-open', 
            disableScroll: true, 
            disableFocus: true, 
            awaitOpenAnimation: true,
            awaitCloseAnimation: true, 
            debugMode: false 
        }); 
    });