.modal.micromodal-slide(id="modal-login" aria-hidden="true")

  .modal__overlay(tabindex="-1" data-micromodal-close)


    .modal__container(role="dialog" aria-modal="true" aria-labelledby="modal-1-title")


        .modal__header
            h2.modal__title(id="modal-login-title") Modal Title



            button.modal__close(aria-label="Close modal" data-micromodal-close)


        .modal__content(id="modal-login-content")
            span Modal Content
        .modal__footer
