nav
    .container
        .nav-item 
            a.nav-link(href="produkt-vypis.html") Akční nabídka
        .nav-item 
            a.nav-link(href="produkt-vypis.html") Rošty
        .nav-item.expandable
            a.nav-link(href="produkt-vypis.html") Skříně #[img(src="/icons/cheveron.svg")]
            .nav-submenu
                .container
                    .row 
                        .col-12.col-sm-6.col-ms-4
                            .nav-submenu__single    
                                img(src="/img/product-thumb-medium.jpg" alt="" title="")
                                ul 
                                    li 
                                        a(href="/produkt-vypis").nav-submenu__title Rošty
                                    li 
                                        a(href="/produkt-vypis").nav-submenu__link Noční stolky
                                    li 
                                        a(href="/produkt-vypis").nav-submenu__link Dřevěné krabičky
                                    li 
                                        a(href="/produkt-vypis").nav-submenu__link Dřevěné boxy


        .nav-item 
            a.nav-link(href="produkt-vypis.html") Šuplíky
        .nav-item 
            a.nav-link(href="produkt-vypis.html") Postele
        .nav-item 
            a.nav-link(href="produkt-vypis.html") Komody
        .nav-item 
            a.nav-link(href="produkt-vypis.html") Noční stolky
        .nav-item 
            a.nav-link(href="produkt-vypis.html") Dřevěné krabičky
        .nav-item 
            a.nav-link(href="produkt-vypis.html") Dřevěné boxy