nav
    .container
        .nav-item 
            a.nav-link(href="produkt-vypis.html") Akční nabídka
        .nav-item 
            a.nav-link(href="produkt-vypis.html") Rošty
        .nav-item.expandable
            a.nav-link(href="produkt-vypis.html") Skříně #[img(src="/icons/cheveron.svg" alt="Rozbalit")]
            .nav-submenu
                .container
                    .row 
                        - for (var i=0; i<8; i++)
                            .col-12.col-sm-6.col-md-4
                                .nav-submenu__single    
                                    img(src="/img/product-thumb-medium.jpg" alt="" title="")
                                    ul 
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__title Rošty
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Noční stolky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné krabičky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné boxy


        .nav-item 
            a.nav-link(href="produkt-vypis.html") Šuplíky
        .nav-item.expandable
            a.nav-link(href="produkt-vypis.html") Postele #[img(src="/icons/cheveron.svg" alt="Rozbalit")]
            .nav-submenu
                .container
                    .row 
                        - for (var i=0; i<8; i++)
                            .col-12.col-sm-6.col-md-4
                                .nav-submenu__single    
                                    img(src="/img/product-thumb-medium.jpg" alt="" title="")
                                    ul 
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__title Rošty
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Noční stolky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné krabičky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné boxy

        .nav-item 
            a.nav-link(href="produkt-vypis.html") Komody
        .nav-item.expandable 
            a.nav-link(href="produkt-vypis.html") Noční stolky #[img(src="/icons/cheveron.svg" alt="Rozbalit")]
            .nav-submenu
                .container
                    .row 
                        - for (var i=0; i<8; i++)
                            .col-12.col-sm-6.col-md-4
                                .nav-submenu__single    
                                    img(src="/img/product-thumb-medium.jpg" alt="" title="")
                                    ul 
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__title Rošty
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Noční stolky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné krabičky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné boxy
            
        .nav-item.expandable
            a.nav-link(href="produkt-vypis.html") Dřevěné krabičky #[img(src="/icons/cheveron.svg" alt="Rozbalit")]
            .nav-submenu
                .container
                    .row 
                        - for (var i=0; i<8; i++)
                            .col-12.col-sm-6.col-md-4
                                .nav-submenu__single    
                                    img(src="/img/product-thumb-medium.jpg" alt="" title="")
                                    ul 
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__title Rošty
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Noční stolky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné krabičky
                                        li 
                                            a(href="/produkt-vypis.html").nav-submenu__link Dřevěné boxy

        .nav-item 
            a.nav-link(href="produkt-vypis.html") Dřevěné boxy