nav
    .container
        .nav-item 
            a.nav-link(href="produkty-vypis.html") Akční nabídka
        .nav-item 
            a.nav-link(href="produkty-vypis.html") Rošty
        .nav-item 
            a.nav-link(href="produkty-vypis.html") Skříně
        .nav-item 
            a.nav-link(href="produkty-vypis.html") Šuplíky
        .nav-item 
            a.nav-link(href="produkty-vypis.html") Postele
        .nav-item 
            a.nav-link(href="produkty-vypis.html") Komody
        .nav-item 
            a.nav-link(href="produkty-vypis.html") Noční stolky
        .nav-item 
            a.nav-link(href="produkty-vypis.html") Dřevěné krabičky
        .nav-item 
            a.nav-link(href="produkty-vypis.html") Dřevěné boxy