section.social
    .container
        h1 Z našeho Instagramu
        .row 
            .col-12.col-md-4
                .social-single
                    a.social-single__link(href="")
                        .social-single__img
                            img(src="/icons/facebook-big.svg" alt="Facebook")
                        .social-single__text Jsme také na Facebooku
            .col-12.col-md-4
                .social-single
                    a.social-single__link(href="")
                        .social-single__img
                            img(src="/icons/youtube-big.svg" alt="Youtube")
                        .social-single__text Sledujte nás na Youtube
            .col-12.col-md-4
                .social-single
                    a.social-single__link(href="")
                        .social-single__img
                            img(src="/icons/instagram-big.svg" alt="Instagram")
                        .social-single__text Sledujte nás na Instagramu
    