doctype html
include template/_variables.pug  
html(lang=lang)
    include template/_head.pug  
    head
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")
    body
        include components/_modal-login.pug

        include components/_header.pug
        include components/_nav.pug
        main
            section.carousel
                .container
                    .carousel-wrapper
                        .carousel-inner
                            .item
                                img(src="/img/carousel/banner1.png" alt="#" title="#")
                                a(href="/produkt-detail.html")
                            .item
                                img(src="/img/carousel/banner1.png" alt="#" title="#")
                                a(href="/produkt-detail.html")                          
                            .item
                                img(src="/img/carousel/banner1.png" alt="#" title="#")
                                a(href="/produkt-detail.html")
                        button.prev
                            img(src="/icons/cheveron-white.svg")
                        button.next
                            img(src="/icons/cheveron-white.svg")

            include components/_points-section.pug



            section.products
                .container
                    h1 Novinky a akční ceny
                    .product-grid
                        include components/_product-card.pug
                        include components/_product-card.pug
                        include components/_product-card.pug
                        include components/_product-card.pug

            include components/_categories-section.pug

            include components/_news-section.pug

            include components/_social-section.pug


        
        include components/_footer.pug

        include template/_scripts.pug  