doctype html
include template/_variables.pug  
html(lang=lang)
    include template/_head.pug  
    head
        meta(charset="utf-8")
        meta(content="IE=edge" http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" name="viewport")
    body

        include components/_header.pug
        include components/_nav.pug
        main
            section.carousel
                .container
                    .carousel-wrapper
                        div Hi, I'm slide 1
                        div Hi, I'm slide 2
                        div Hi, I'm slide 3
                        div Hi, I'm slide 4

            section.product-grid
                .container
                    include components/_productCard.pug
                    include components/_productCard.pug

        include template/_scripts.pug  