doctype html
include template/_variables.pug  
html(lang=lang)
    include template/_head.pug  
    body
        include components/_modal-login.pug

        include components/_header.pug
        include components/_nav.pug
        main
            include components/_breadcrumbs.pug
            section.page-heading
                .container
                    h1 Dřevěné krabice
                    p(id="pageDescription") Jednoduchý, často velmi podceňovaný předmět, který však může spojit funkčnost s krásným vzhledem a být tak nejen velmi užitečný... 
                        span.read-more(id="readMore") Číst více
                    p(id="pageDescriptionFull") Jednoduchý, často velmi podceňovaný předmět, který však může spojit funkčnost s krásným vzhledem a být tak nejen velmi užitečný jednoduchý, často velmi podceňovaný předmět, který však může spojit funkčnost s krásným vzhledem a být tak nejen velmi užitečný
                 

            section.subcategories
                .container
                    .row 
                        - for (var i=0; i<8; i++)
                            .col-8.col-sm-6.col-md-3
                                .subcategories__single
                                    a.subcategories__link(href="/produkt-vypis.html") 
                                        img(src="/img/product-thumb-small.jpg" alt="" title="")
                                        h5 Krabice na alkohol



            section.products
                .container
                    .products-sort
                        form(action="post") 
                            .products-sort__single
                                input(type="radio" id="sort-1" name="sort-products" checked required)
                                label(for="sort-1") Nejprodávanější
                            .products-sort__single
                                input(type="radio" id="sort-2" name="sort-products" required)
                                label(for="sort-2") Nejprodávanější

                    .products-heading
                        .filter 
                            .filter__button Filtrovat produkty #[img(src="/icons/filter.svg")]

                        include components/_pagination.pug

                    .products-grid
                        - for (var i=0; i<8; i++)
                            include components/_product-card.pug




            include components/_points-section.pug

            include components/_social-section.pug


        
        include components/_footer.pug

        include template/_scripts.pug  