doctype html
include template/_variables.pug  
html(lang=lang)
    - var slug = "uzivatelsky-ucet";
    include template/_head.pug  
    body
        include components/_modal-login.pug

        include components/_header.pug
        include components/_nav.pug
        main
            include components/_breadcrumbs.pug
            .page
                section.page-heading.--inline
                    .container
                        h1 Přihlášen jako: Petr Novák
                        .logout-wrap 
                            a.btn(href="#") Odhlásit se
                section.page-content
                    .container 
                        .row 
                            .col-12.col-lg-4


                                h2 Úprava osobních údajů
 
                                form(method="post" id="register-form")
                                    .form-group     
                                        label(for="register-name") Jméno
                                        input(type="text" id="register-name" name="register-name" required minlength="2" maxlength="45" value="Petr")
                                    .form-group     
                                        label(for="register-surname") Příjmení
                                        input(type="text" id="register-surname" name="register-surname" required minlength="2" maxlength="45")
                                    .form-group     
                                        label(for="register-email") Email
                                        input(type="email" id="register-email" name="register-email" required minlength="6" maxlength="255" pattern="([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})")
                                    .form-group     
                                        label(for="register-tel") Telefon 
                                        input(type="tel" id="register-tel" name="register-tel" required pattern="\d{1,15}")
                                    .form-group     
                                        label(for="register-username") Uživatelské jméno
                                        input(type="text" id="register-username" name="register-username" required)
                                    .form-group     
                                        label(for="register-password") Heslo
                                        input(type="password" id="register-password" name="register-password" required)

                                    .form-spacer 

                                    .form-group     
                                        label(for="register-street") Ulice a Číslo popisné
                                        input(type="text" id="register-street" name="register-street" required maxlength="50")
                                    .form-group     
                                        label(for="register-city") Město/obec
                                        input(type="text" id="register-city" name="register-city" required maxlength="50")      
                                    .form-group     
                                        label(for="register-psc") PSČ
                                        input(type="text" id="register-psc" name="register-psc" required maxlength="50")      
                                    .form-group     
                                        label(for="register-state") Stát
                                        select(name="register-state" id="register-state" required)   
                                            option(value="cz") Česká republika
                                            option(value="sk") Slovensko

                                    .form-spacer 

                                    .form-group.--checkbox
                                        label(for="register-fa-address" id="faToggle") Vyplnit fakturační adresu
                                        input(type="checkbox" name="register-fa-address" id="register-fa-address")

                                        .form-collapse

                                            .form-group     
                                                label(for="register-fa-name") Jméno a příjmení (nepovinné)
                                                input(type="text" id="register-fa-name" name="register-fa-name")
                                            .form-group     
                                                label(for="register-fa-company") Název firmy
                                                input(type="text" id="register-fa-company" name="register-fa-company" )
                                            .form-group     
                                                label(for="register-fa-ico") IČO
                                                input(type="text" id="register-fa-ico" name="register-fa-ico" )
                                            .form-group     
                                                label(for="register-fa-dic") DIČ (nepovinné)
                                                input(type="text" id="register-fa-dic" name="register-fa-dic")
                                            .form-group     
                                                label(for="register-fa-street") Ulice a číslo popisné
                                                input(type="text" id="register-fa-street" name="register-fa-street" )
                                            .form-group     
                                                label(for="register-fa-city") Město/obec
                                                input(type="text" id="register-fa-city" name="register-fa-city" )
                                            .form-group     
                                                label(for="register-fa-psc") PSČ
                                                input(type="text" id="register-fa-psc" name="register-fa-psc" )
                                            .form-group     
                                                label(for="register-fa-state") Stát
                                                select(name="register-fa-state" id="register-fa-state" )   
                                                    option(value="cz") Česká republika
                                                    option(value="sk") Slovensko

                                    .form-group.--checkbox
                                        label(for="register-da-address" id="daToggle") Jiná dodací adresa
                                        input(type="checkbox" name="register-da-address" id="register-da-address")

                                        .form-collapse

                                            .form-group     
                                                label(for="register-da-name") Jméno a příjmení 
                                                input(type="text" id="register-da-name" name="register-da-name" )
                                            .form-group     
                                                label(for="register-da-company") Název firmy (nepovinné)
                                                input(type="text" id="register-da-company" name="register-da-company")
                                            .form-group     
                                                label(for="register-da-street") Ulice a číslo popisné
                                                input(type="text" id="register-da-street" name="register-da-street" )
                                            .form-group     
                                                label(for="register-da-city") Město/obec
                                                input(type="text" id="register-da-city" name="register-da-city" )
                                            .form-group     
                                                label(for="register-da-psc") PSČ
                                                input(type="text" id="register-da-psc" name="register-da-psc" )
                                            .form-group     
                                                label(for="register-da-state") Stát
                                                select(name="register-da-state" id="register-da-state" )   
                                                    option(value="cz") Česká republika
                                                    option(value="sk") Slovensko




                                    .form-spacer 

                                    .form-group.--checkbox
                                        label(for="register-agree1") Chci odebírat newsletter a souhlasím se #[a(href="#") zpracováním osobních údajů] za účelem zasílání informací o novinkách a slevách.
                                        input(type="checkbox" name="register-agree1" id="register-agree1")

                                    .form-group.--checkbox
                                        label(for="register-agree2") Souhlasím se #[a(href="#") zpracováním osobních údajů] za účelem registrace.
                                        input(type="checkbox" name="register-agree2" id="register-agree2" required)


                                    .form-group 
                                        button.btn.--fullWidth(name="register-submit" id="register-submit") Aktualizovat údaje #[img(src="/img/icons/cheveron-white.svg")]


                            .col-12.col-lg-1
                            .col-12.col-lg-7
                                h2 Historie objednávek

                                table.order-history 
                                    thead 
                                        th Číslo nákupu
                                        th Datum 
                                        th Cena 
                                        th(colspan="2") Stav objednávky

                               
                                    tbody
                                        tr.order-history__item(id="detail-1") 
                                            td 1598879
                                            td 1. 1. 1970
                                            td 16 999 Kč
                                            td.--finished Dokončeno
                                            td #[a(href="#detail-1") Detail]

                                            
                                        tr.order-history__item-detail
                                            td(colspan="2") 
                                                span Dřevěná bedna na 2 vína CARMEN VI lorem ipsum
                                                span Dřevěná bedna na 2 vína
                                            td 
                                                span 1 ks
                                                span 2 ks
                                            td
                                                span Skladem
                                                span Skladem
                                            td 
                                                span 5 999 Kč
                                                span 2 299 Kč

                       



                            
                                        tr.order-history__item(id="detail-2") 
                                            td 1598879
                                            td 1. 1. 1970
                                            td 16 999 Kč
                                            td.--finished Dokončeno
                                            td #[a(href="#detail-2") Detail]

                                            
                                        tr.order-history__item-detail
                                            td(colspan="2") Dřevěná bedna na 2 vína CARMEN VI lorem ipsum
                                            td 1 ks
                                            td Skladem
                                            td 5 999 Kč




            include components/_points-section.pug
            include components/_contact-section.pug
            include components/_social-section.pug


        
        include components/_footer.pug

        include template/_scripts.pug  