@charset 'utf-8';

/* ========================================================================== */
/* BOOTSTRAP */
/* ========================================================================== */


// Required
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

// Optional
@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/grid";

/* ========================================================================== */
/* VARIABLES */
/* ========================================================================== */

@import "variables/**/*";

/* ========================================================================== */
/* COMPONENTS */
/* ========================================================================== */

@import "components/**/*";

body{
    background :$white;
    color: $gray-900;
    font-family: $font-family-primary;
}

a{
    color: $green-500;
    text-decoration: none;

    &:hover, &:active, &:focus{
        color: $gray-900;
    }
}
.container{
    max-width: 1460px;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    margin: 0 auto;
}

section{
    padding: 40px 0;
}

section h1{
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 40px;
}
.product-grid{
    display: flex;
    flex-wrap: wrap;
}
.product-grid .product-card{
    width: 25%;
}